span.player-name-card.card-title{
	font-weight: bold;
}

.avatar-image-normal{
	background-color: #81776F;
}

.avatar-image-dealer{
	background-color:  #862520;
}

.avatar-image-def-completed{
	background-color: #382f2d;
}

span.player-name-card.card-title {
	max-width: 100% !important;
	padding: 6px !important;
	top: 0em !important;
}

.hiddenBar{
	width: 0em !important;
}

.showBar{
	width: 100% !important;
}

.text-timer{
	height: 1.5em;
	display: block;
}
