span.player-name-card.card-title{
	font-weight: bold;
}

.avatar-image-normal{
	background-color: #29b6f6;
}

.avatar-image-dealer{
	background-color: #ff9800;
}

.avatar-image-def-completed{
	background-color: rgb(76, 175, 80)
}

span.player-name-card.card-title {
    max-width: 100% !important;
	padding: 6px !important;
	top: 0em !important;
}

.hiddenBar{
	width: 0em !important;
}

.showBar{
	width: 100% !important;
}