span.player-name-card.card-title{
	font-weight: bold;
}

.avatar-image-normal{

}

.avatar-image-dealer{
	border: 4px solid #f00;
}

.avatar-image-def-completed{
	background-color: #c6d1d1;
}

span.player-name-card.card-title {
	max-width: 100% !important;
	padding: 6px !important;
	top: 0em !important;
}

.hiddenBar{
	width: 0em !important;
}

.showBar{
	width: 100% !important;
}

.text-timer{
	height: 1.5em;
	display: block;
}


div#removePlayerModal{
	overflow: hidden;
}