html {
	width: 100%
}

body {
	width: 100%
}


.avatarImg{
	width: 100%;
}

.ef {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 30px;
    color: #666;
    text-align: center;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 5%;
    left:7%;  
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }